.form {
    background: var(--bg);
    color: var(--fg);
    border-radius: 10px;
    box-shadow: var(--shadow);
    width: inherit;
}

.form-header {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.form-body {
    width: 100%;
}

.form-footer {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
