.title {
    margin: 0px;
    font-weight: 300;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.title-primary {
    color: var(--primary);
}

.title-secondary {
    color: var(--secondary);
}

.title-dark {
    color: var(--dark);
}

.title-light {
    color: var(--light);
}

.title-inherit {
    color: inherit;
}

.title-fg {
    color: var(--fg);
}

.title-xs {
    font-size: var(--font-size-xs);
}

.title-sm {
    font-size: var(--font-size-sm);
}

.title-md {
    font-size: var(--font-size-md);
}

.title-lg {
    font-size: var(--font-size-lg);
}

.title-xl {
    font-size: var(--font-size-xl);
}

.icon-separation-none {
    margin-right: 0px;
}

.icon-separation-sm {
    margin-right: 5px;
}

.icon-separation-md {
    margin-right: 10px;
}
