.btn {
    background: var(--primary);
    color: var(--bg_2);
    border: none;
    box-shadow: var(--shadow);
    cursor: pointer;
    &--xs {
        padding: 2px 4px;
        font-size: var(--font-size-xs);
    }
    &--sm {
        padding: 4px 8px;
        font-size: var(--font-size-sm);
    }
    &--md {
        padding: 6px 12px;
        font-size: var(--font-size-md);
    }
    &--lg {
        padding: 8px 16px;
        font-size: var(--font-size-lg);
    }
    &--xl {
        padding: 12px 20px;
        font-size: var(--font-size-xl);
    }

    &--primary {
        background: var(--primary);
        color: var(--dark);
        &__disabled {
            background: var(--primary-disabled);
            color: var(--dark-disabled);
        }
    }

    &--secondary {
        background: var(--secondary);
        color: var(--light);
        &__disabled {
            background: var(--secondary-disabled);
            color: var(--light-disabled);
        }
    }

    &--light {
        background: var(--light);
        color: var(--dark);
        &__disabled {
            background: var(--light-disabled);
            color: var(--dark-disabled);
        }
    }

    &--dark {
        background: var(--dark);
        color: var(--light);
        &__disabled {
            background: var(--dark-disabled);
            color: var(--light-disabled);
        }
    }

    &--border-top-left-radius {
        &--none {
            border-top-left-radius: 0px;
        }
        &--sm {
            border-top-left-radius: 10px;
        }
    }
    &--border-top-right-radius {
        &--none {
            border-top-right-radius: 0px;
        }
        &--sm {
            border-top-right-radius: 10px;
        }
    }
    &--border-bottom-right-radius {
        &--none {
            border-bottom-right-radius: 0px;
        }
        &--sm {
            border-bottom-right-radius: 10px;
        }
    }
    &--border-bottom-left-radius {
        &--none {
            border-bottom-left-radius: 0px;
        }
        &--sm {
            border-bottom-left-radius: 10px;
        }
    }
}
