.alerts {
    position: absolute;
    width: 300px;
    row-gap: 10px;
    display: flex;

    &--top {
        top: 50px;
        flex-direction: column;
    }

    &--bottom {
        bottom: 50px;
        flex-direction: column-reverse;
    }

    &--left {
        left: 10px;
    }

    &--center {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    &--right {
        right: 10px;
    }
}
