.alert {
    display: flex;
    align-items: center;
    width: 300px;
    color: var(--fg);
    background: var(--bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-sm-fg);
    &--icon {
        width: 40px;
        height: 60px;
        // height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--light);
        border-radius: var(--border-radius) 0px 0px var(--border-radius);
    }
    &--message {
        // height: 30px;
        padding: 5px;
        width: 270px;
        // overflow: hidden; /* make sure it hides the content that overflows */
        // white-space: nowrap; /* don't break the line */
        // text-overflow: ellipsis;
        font-size: var(--font-size-md);
    }
    &--actions {
        padding: 5px;
    }
}
