.footer {
    height: inherit;
    background: var(--dark);
    color: var(--light-disabled);

    &--items {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: var(--page-width);
        height: inherit;
        margin: auto;
        padding: 4px;
    }
}
