.input {
    width: 100%;
    &--label {
        color: var(--fg);
        font-weight: 500;
        &-sm {
            padding: 0px 5px;
            font-size: var(--font-size-sm);
        }
        &-md {
            padding: 5px 10px;
            font-size: var(--font-size-md);
        }
        &-lg {
            padding: 5px 15px;
            font-size: var(--font-size-lg);
        }
    }

    &--element {
        width: 100%;
        border: none;
        background: var(--bg_2);
        color: var(--fg);
        box-shadow: var(--shadow);
        font-weight: 200;

        &-sm {
            padding: 0px 5px;
            font-size: var(--font-size-sm);
        }

        &-md {
            padding: 3px 10px;
            font-size: var(--font-size-md);
        }

        &-lg {
            padding: 5px 15px;
            font-size: var(--font-size-lg);
        }
        &-default {
            border-bottom: solid 2px var(--fg);
            outline: none;
        }
        &-default:focus {
            border-bottom: solid 2px var(--fg);
            outline: none;
        }

        &-success {
            border-bottom: solid 2px var(--success);
            color: var(--success);
        }

        &-error {
            border-bottom: solid 2px var(--error);
            color: var(--error);
        }

        &-disable {
            border-bottom: solid 2px var(--dark-disabled);
            color: var(--dark-disabled);
        }
    }

    &--element:focus {
        outline: none;
    }
}
